.card {
    margin: 20px;

}

.planets {
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}
.people{
    overflow-y: auto;
    width: 400px;
    margin:20px;
    padding:20px;
}

body{
 background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
